/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
    font-size: 5px;
    list-style: none;
    text-decoration: none;
}

#topnav {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.brand-container {
    display: flex;
    padding: 1.3vw;
    background-color: black;
}

.brand-container img {
    width: 15vw;
    height: auto;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}
.link a{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 3rem;
}

@media (max-width: 768px) {

    #landing-header {
        background-color: #540B51;
        display: block;
        max-width: 100%;
    }

    #landing-header h1 {
        font-size: 15rem;
        text-align: center;
        color: white;
        background-color: #540B51;
    }

    #landing-header p span {
        font-size: 5rem;
        color: #ECB12F
    }

    #landing-header p {
        font-size: 5rem;
        text-align: center;
        color: white;
    }

    .sign-in-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .sign-in-up button {
        width: 50vw;
        height: 5vh;
        margin: 15px;
        font-size: 3rem;
        border: none;
        border-radius: 5px;
    }

    .google-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
        width: 50vw;
        height: 5vh;
        border: none;
        border-radius: 5px;
        padding-right: 50px;

    }

    .google-button img {
        background-color: white;
        height: 3.5vh;
        margin: 15px;
    }

    .google-button span {
        font-size: 3rem;
    }
    
    .landing-img img {
        width: 768px;
    }

    #main {
        background-color: #F3EAE2;
    }

    .main-title p{
        font-size: 6rem;
        text-align: center;
        padding: 8vw;
    }

    
    .sponsors {
      display: flex;
      flex-direction: row;
    }

    .sponsors img {
        width: 200px;
    }
}
